In [1]:
import pandas as pd
import numpy as np

In [7]:
!pip install fsspec
!pip install openpyxl

Collecting fsspec
  Downloading fsspec-2025.12.0-py3-none-any.whl.metadata (10 kB)
Downloading fsspec-2025.12.0-py3-none-any.whl (201 kB)
Installing collected packages: fsspec
Successfully installed fsspec-2025.12.0
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [8]:
df = pd.read_excel("C://Users//pc//OneDrive//fresher_hiring_funnel_data.xlsx")

In [9]:
df.head()

,Candidate_ID,Gender,Degree,Graduation_Year,Skills_Count,Application_Date,Aptitude_Score,Technical_Score,HR_Score,Aptitude_Result,Technical_Result,HR_Result,Offer_Released,Offer_Accepted,Time_Gap_Days,Drop_Stage
0,CAND_001,Female,B.Tech,2022,6,2025-02-11,62,43.0,59.0,Pass,Fail,Pass,No,NaN,NaN,Technical Interview
1,CAND_002,Male,B.Tech,2022,5,2025-01-09,60,78.0,NaN,Pass,Pass,Pass,Yes,NaN,NaN,NaN
2,CAND_003,Female,B.Tech,2022,3,2025-03-31,43,63.0,56.0,Fail,Pass,Pass,No,NaN,NaN,Aptitude Test
3,CAND_004,Male,B.Tech,2022,4,2025-03-29,56,72.0,30.0,Pass,Pass,Fail,No,NaN,NaN,HR Interview
4,CAND_005,Female,B.Tech,2022,5,2025-03-14,41,22.0,65.0,Fail,Fail,Pass,No,NaN,NaN,Aptitude Test

In [10]:
df.shape

(1000, 16)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Candidate_ID      1000 non-null   object
 1   Gender            1000 non-null   object
 2   Degree            1000 non-null   object
 3   Graduation_Year   1000 non-null   int64
 4   Skills_Count      1000 non-null   int64
 5   Application_Date  1000 non-null   datetime64[ns]
 6   Aptitude_Score    1000 non-null   int64
 7   Technical_Score   780 non-null    float64
 8   HR_Score          620 non-null    float64
 9   Aptitude_Result   1000 non-null   object
 10  Technical_Result  1000 non-null   object
 11  HR_Result         1000 non-null   object
 12  Offer_Released    1000 non-null   object
 13  Offer_Accepted    130 non-null    object
 14  Time_Gap_Days     143 non-null    float64
 15  Drop_Stage        847 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(3), object(9)
memory usage: 125.1+ KB

In [12]:
df.isnull().sum()

Candidate_ID          0
Gender                0
Degree                0
Graduation_Year       0
Skills_Count          0
Application_Date      0
Aptitude_Score        0
Technical_Score     220
HR_Score            380
Aptitude_Result       0
Technical_Result      0
HR_Result             0
Offer_Released        0
Offer_Accepted      870
Time_Gap_Days       857
Drop_Stage          153
dtype: int64

In [13]:
df.loc[
    (df["Aptitude_Result"] == "Fail"),
    "Technical_Score"
] = np.nan

In [14]:
df.loc[
    (df["Technical_Result"] == "Fail"),
    "HR_Score"
] = np.nan

In [15]:
df.loc[
    df["Offer_Released"] == "No",
    "Offer_Accepted"
] = "No"

In [16]:
df["Time_Gap_Days"].fillna(
    df["Time_Gap_Days"].median(),
    inplace=True
)

C:\Users\pc\AppData\Local\Temp\ipykernel_14680\3521144842.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Time_Gap_Days"].fillna(

In [17]:
df.isnull().sum()

Candidate_ID          0
Gender                0
Degree                0
Graduation_Year       0
Skills_Count          0
Application_Date      0
Aptitude_Score        0
Technical_Score     535
HR_Score            704
Aptitude_Result       0
Technical_Result      0
HR_Result             0
Offer_Released        0
Offer_Accepted      142
Time_Gap_Days         0
Drop_Stage          153
dtype: int64

In [18]:
total_candidates = df.shape[0]

aptitude_pass = df[df["Aptitude_Result"] == "Pass"].shape[0]
technical_pass = df[df["Technical_Result"] == "Pass"].shape[0]
hr_pass = df[df["HR_Result"] == "Pass"].shape[0]
offers_released = df[df["Offer_Released"] == "Yes"].shape[0]
offers_accepted = df[df["Offer_Accepted"] == "Yes"].shape[0]

total_candidates, aptitude_pass, technical_pass, hr_pass, offers_released, offers_accepted

(1000, 588, 488, 539, 153, 11)

In [19]:
funnel = pd.DataFrame({
    "Stage": [
        "Applied",
        "Aptitude Passed",
        "Technical Passed",
        "HR Passed",
        "Offer Released",
        "Offer Accepted"
    ],
    "Count": [
        total_candidates,
        aptitude_pass,
        technical_pass,
        hr_pass,
        offers_released,
        offers_accepted
    ]
})

funnel["Conversion_%"] = funnel["Count"] / total_candidates * 100
funnel

              Stage  Count  Conversion_%
0           Applied   1000         100.0
1   Aptitude Passed    588          58.8
2  Technical Passed    488          48.8
3         HR Passed    539          53.9
4    Offer Released    153          15.3
5    Offer Accepted     11           1.1

In [20]:
df["Drop_Stage"].value_counts()

Drop_Stage
Aptitude Test          412
Technical Interview    299
HR Interview           136
Name: count, dtype: int64

In [21]:
df["Aptitude_Score"].describe()
df["Technical_Score"].describe()
df["HR_Score"].describe()

count    296.000000
mean      55.854730
std       18.939937
min       20.000000
25%       40.000000
50%       57.000000
75%       73.000000
max       88.000000
Name: HR_Score, dtype: float64

In [22]:
df["Time_Gap_Days"].describe()

count    1000.000000
mean       15.097000
std         0.619657
min        15.000000
25%        15.000000
50%        15.000000
75%        15.000000
max        20.000000
Name: Time_Gap_Days, dtype: float64

In [23]:
pd.crosstab(df["Degree"], df["Offer_Accepted"], normalize="index") * 100

Offer_Accepted          No       Yes
Degree
B.Com            97.109827  2.890173
B.Sc            100.000000  0.000000
B.Tech           99.112426  0.887574
MBA              98.159509  1.840491